// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
@import "ionic.globals";
// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
$colors: ( 
  primary : #086688, 
  secondary : #054160, 
  accent :  #FFFFFF,
  complementary: #882a08,
  dark :  #054160,
  light: #6aa3b7,
  background: #f2f4f5
);

$list-border-color	:  color($colors, accent);

$text-color : gray;

$item-avatar-size: 5.5rem;

$tabs-background:  color($colors, primary);

$tabs-tab-color-active: color($colors, accent);
$tabs-tab-color-inactive: color($colors, light);


$background-color: color($colors, background);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$font-family-ios-base: 'Open Sans',sans-serif;

$select-ios-icon-color : color($colors, accent);

$list-ios-border-color	: $list-border-color;

$item-ios-avatar-size: 65px;


$searchbar-ios-input-search-icon-color: color($colors, primary);
$searchbar-ios-input-clear-icon-color: color($colors, primary);

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

$font-family-md-base: 'Open Sans', sans-serif;
$label-md-text-color: color($colors, accent);

$select-md-icon-color : color($colors, accent);

$tabs-md-tab-color-inactive: color($colors, light);

$item-md-avatar-size: 65px;

$list-md-border-color	: $list-border-color;

$searchbar-md-input-search-icon-color: color($colors, primary);
$searchbar-md-input-clear-icon-color: color($colors, primary);

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.
@import "ionic.theme.default";
// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/
$ionicons-font-path: "../assets/fonts";
@import "ionicons";
