<!--
  Generated template for the ListContactsPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <img class="logo_icon" src="assets/icon/logo_icon.svg" height="30px" />
    <h5 class="title">Listado </h5>
    <button [style.top]="isIOS? '18px': '3px'" class="menu" ion-button clear (click)="presentOptions($event)">
       <img src="assets/icon/menu_icon.svg" height="30px"  />
      </button>
    <div class="search_container">
      <ion-searchbar color="primary" autofocus  (ionInput)="getItems($event)" placeholder="Procurar por contato">
      </ion-searchbar>
      <span class="or"> ou </span>
      <ion-item class="state">
        <ion-label>Estado</ion-label>
        <ion-select [(ngModel)]="stateSelector" (ngModelChange)="onChange($event)">
          <ion-option *ngFor="let letter of alphabet | async;" [value]="letter">{{letter}}</ion-option>
        </ion-select>
      </ion-item>
    </div>
  </ion-navbar>
</ion-header>
<ion-content class="list-contacts" padding-bottom>
  <div class="spinner">
    <ion-spinner *ngIf="loading" name="dots"></ion-spinner>
    <h3 *ngIf="noContact"> Nenhum Contato </h3>
  </div>
  <!--
  <ion-item-group *ngFor="let group of groupedContacts" class="alpha_list">
    <ion-item-divider> <span class="state_header">{{group.letter}}</span> </ion-item-divider>
    <ion-item detail-none *ngFor="let c of group.contacts">

          </ion-item>
  </ion-item-group>

 -->
  <ion-list [bufferRatio]="4" [approxItemHeight]=" '40px' " [virtualScroll]="contacts" [headerFn]="myHeaderFn">

    <ion-item-divider *virtualHeader="let header">
     <span class="state_header"> {{ header }} </span>
    </ion-item-divider>

    <ion-item *virtualItem="let c">

      <ion-avatar item-left>
        <img [style.padding]="c.contact.photos != null? '6px' : '0' " [src]=getImgSanatized(c.contact) />
      </ion-avatar>

      <span class="text-container" *ngIf="c.contact.name">  
            <span *ngIf="c.contact.name.formatted">  
            <p>  {{c.contact.name.formatted}} </p>
            <p> {{c.state.state}}</p>
              <p>  {{c.contact.phoneNumbers[0].value}}</p>
          </span>
      </span>

      <div class="icons_container">
        <button class="icons" ion-button clear>
                <img src="assets/icon/copy_icon.svg" height="25px" width="25px"/>
               </button>
        <button class="icons" ion-button clear>
                <img src="assets/icon/telephone_icon.svg" height="25px" width="25px" />
               </button>
        <button class="icons" ion-button clear>
               <img src="assets/icon/whatsapp_icon.svg" height="25px" width="25px" />
               </button>
      </div>

    </ion-item>
  </ion-list>
</ion-content>
